main {
    margin: 1rem 2rem;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 150px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.ProfileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#ContentPicture {
    width: 25%;
    overflow: auto;
}
